@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

html, body {
    overflow: hidden;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    padding: 10px;
    margin: 0;
    backdrop-filter: brightness(50%);

    background-image: url('/bg222222.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: center;

    display: flex;
    align-items: center;
    justify-content: center;

    user-drag: none;
    user-select: none; 
    -webkit-user-drag: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.main_c_c {
    border: solid #ffffff70;
    border-radius: 15px;
    min-width: 300px;
    color: #FFF;
    padding: 20px;
}

.leeth_nm {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    -webkit-animation-delay: calc(1s * 1.1);
    animation-delay: calc(1s * 1.1);
}

.leeth_mm {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    -webkit-animation-delay: calc(1s * 1.3);
    animation-delay: calc(1s * 1.3);
}

.links_cont {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

a.mlink {
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    -webkit-animation-delay: calc(1s * 1.7);
    animation-delay: calc(1s * 1.7);
    transition: 0.3s;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 0 15px;
}

a.mlink:hover {
    background-color: #FFF;
    color: #000;
}

.leeth_pp {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    -webkit-animation-delay: calc(1s * 2.1);
    animation-delay: calc(1s * 2.1);
}

a.plink {
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    -webkit-animation-delay: calc(1s * 2.5);
    animation-delay: calc(1s * 2.5);
    transition: 0.3s;
    padding: 3px;
    border-radius: 12px;
    padding: 0 15px;
}

a.plink:hover {
    background-color: #FFF;
    color: #000;
}

/*
    -webkit-animation-delay: calc(1s * 1.3);
    animation-delay: calc(1s * 1.3);
    */
